body {
    margin: 0;
    padding: 0;
    background-color: #1d2a35;
}



/*First Div*/

#first-div{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 560px;

}

#image-gallery{

    width: 85%;
    height: 90%;

    border: 3px solid black;
    border-radius: 50px;

}



/*Second Div*/

#second-div{

    display: flex;
    justify-content: center;

    height: 100px;
    width: 100%;

}

button{

    height: 75px;
    width: 120px;
    margin: 0px 10px;

    background-color: transparent;
    border-radius: 10px;

    cursor: pointer;
}

#previous-button-image, #next-button-image {

    height: 60px;
    width: 70px;

    padding: 4.5px;
    
}